body {
    padding-top: 70px;
    padding-bottom: 30px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    
}



#login_bincode {
     border: 1px solid gray;
    width: 80%;
}

#login_bincode>canvas {
     border: 1px solid gray;
    width: 100%;
}

#logined_users_box {
    border: 1px solid gray;
    height: 300px;
    overflow-y: scroll;
    overflow-y: solid;
    list-style-type: none;
}

#logined_users_box>li{
    position: relative;
    margin-top: 5px;
    margin-bottom: 5px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    background: orange;
    border-radius: 5px;

}

#title_h1 {
    margin-bottom: 40px;
    text-align: center;
}
/*.page {
    min-height: 600px;
}

#page_beginanswer {
    background: #222 url(../images/micro_carbon.png) repeat top left;
    background-attachment: fixed;
    color: #f6e7ce;
}
*/
#ctl_panel{
    position: absolute;
    bottom: 30px;
    background: rgba(96, 95, 177, 0.85);

    box-shadow: 10px 10px 5px rgba(55, 56, 53, 0.79);
    border-radius: 10px;
    transform: translate(-50%);
    left: 50%;
    text-align: center;
    padding-top: 20px;


}

#tmlist_wraper .slide h2{
    border: 1px solid #459C00;
    background: rgb(0,0,0);
    padding: 80px 20px;
    margin: -120px 25px 64px 25px;
    color: #fff;
    box-shadow: 10px 10px 5px #888888;
    border-radius: 10px;
}

#tmlist_wraper .slide ol{
    border: 2px solid #2EC306;
    border-radius: 5px;
    background-color: #041790;
    padding: 20px;
    margin: 0px 35px 0px 35px;
    box-shadow: 3px 3px 3px #130808;
}

#tmlist_wraper .slide ol li{
   background: transparent;
    width: 50%;
    padding: 3px;
    border: 1px solid gray;
    padding: 2px;
    color: red;
    text-align: center;
    margin-left: 50%;
    transform: translate(-50%);
}

